.card {
  margin-top: 1rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  /* background: linear-gradient(
    180deg,
    rgb(233, 201, 153) 0%,
    rgba(146, 61, 22, 0.897) 100%
  ); */
  background: linear-gradient(
    180deg,
    rgba(241, 204, 161, 0.733) 0%,
    rgba(201, 117, 60, 0.644) 100%
  );
  backdrop-filter: blur(2rem);
  box-shadow: 0px 0px 8px 2px rgba(63, 18, 15, 0.774);
  border: 1px solid rgba(0, 0, 0, 0.8);
  transition: all 0.25s ease-in-out;
}
.card:hover {
  transform: translateY(0.75rem);
}
.link {
  color: antiquewhite;
  text-decoration: none;
  font-size: small;
}
.name {
  margin: 0.45rem;
}
.img {
  box-shadow: 0px 0px 8px 2px rgba(63, 18, 15, 0.774);
  border-radius: 0.5rem;
}
.types {
  display: inline-block;
  margin: 0.05rem 0.2rem 0.05rem 0.2rem;
  font-size: smaller;
  padding: 0.1rem 0.3rem;
  /* border: 1.5px solid rgb(236, 153, 85); */
  border-radius: 15px;
  background-color: rgba(235, 98, 35, 0.459);
  width: fit-content;
}
