.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: 1px solid rgb(110, 59, 36);
  border-radius: 2rem;
  margin: 4rem auto;
  padding-top: 5rem;
  width: 45rem;
  color: #fadac7ea;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3rem);
  background: linear-gradient(
    180deg,
    rgba(101, 81, 62, 0.75) 0%,
    rgba(98, 94, 87, 0) 100%
  );
}
.display {
  display: grid;
  grid-template-columns: 8rem 20rem;
  grid-template-rows: 3rem 3rem;
}
.input {
  background-color: rgba(226, 173, 124, 0.301);
  border: 2px solid rgb(133, 99, 60);
  border-radius: 10px;
  width: 20rem;
  height: 2.5rem;
  margin: 0.5rem 0 2rem 0;
  color: bisque;
  padding-left: 0.5rem;
}
.input::placeholder {
  color: rgba(250, 235, 215, 0.562);
}

.textarea {
  background-color: rgba(226, 173, 124, 0.301);
  border: 2px solid rgb(133, 99, 60);
  border-radius: 10px;
  width: 20rem;
  height: 2.5rem;
  margin: 0.5rem 0 2rem 0;
  color: bisque;
  padding-left: 0.5rem;
  resize: none;
}

.errors {
  grid-column: 2;
  grid-row: 2;
  overflow-wrap: break-word;
  font-size: 0.88rem;
  font-style: italic;
  color: rgb(252, 176, 166);
  text-shadow: 0 0 0.2rem #ff0909;
}
.checkbox {
  text-align: center;
  margin: 0 5rem 0.2rem;
  padding: 0.5rem;
}

.btnCreation {
  margin: 3.5rem 0 5rem 0;
  color: #eed9b9;
  text-shadow: 0 0 0.2rem#805a2e;
  font-size: 15px;
  width: fit-content;
  padding: 0.8rem;
  background: linear-gradient(
    rgba(252, 176, 101, 0.87) 0%,
    rgb(121, 45, 16) 100%
  );

  backdrop-filter: blur(4px);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}

.stats {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;

  /* Añado mis propios estilos */
  width: 98%;
  height: 0.55rem;
  border-radius: 20px;
  margin: 1rem;
}

.stats::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 25rem;
  background-color: rgb(248, 144, 74);
  margin: -0.2rem 0 0 -0.1rem;
}

.stats::-moz-range-thumb {
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 25rem;
  background-color: rgb(248, 144, 74);
  margin: -0.2rem 0 0 -0.1rem;
}
.stats::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: rgba(226, 173, 124, 0.301);
  height: 0.6rem;
  border: 1px solid rgb(133, 99, 60);
  border-radius: 3rem;
}
