html body {
  background: url("../../img/background1.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 3rem;
}
.loader {
  margin-left: 10rem;
  margin-top: -5rem;
  width: 120%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: url("../../img/table3.jpeg") no-repeat center center;
  border-radius: 2rem;
  background-size: cover;
  width: 30rem;
  height: 43rem;
}
.btnReload {
  margin-top: 3rem;
  margin-left: -23rem;
  width: fit-content;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(24, 22, 22, 0.678);
  background: linear-gradient(180deg, #c0b093 0%, rgba(196, 196, 196, 0) 100%);
  padding: 0.4rem 0.5rem 0.3rem 0.5rem;
  border: none;
  cursor: pointer;
}
.search {
  background-color: rgba(182, 162, 144, 0.192);
  border: 2px solid #8d5a18;
  border-radius: 10px 0px 0px 10px;
  width: 16rem;
  height: 2rem;
  margin: 5rem 0 2rem 0;
  color: rgb(248, 231, 209);
  font-size: 0.95rem;
  padding-left: 0.7rem;
}
.search::placeholder {
  color: rgba(247, 235, 210, 0.897);
  text-shadow: 0 0 0.25rem rgb(19, 18, 18);
}
.btnSearch {
  background: linear-gradient(
    180deg,
    rgba(253, 206, 144, 0.89) 0%,
    rgb(184, 72, 8) 100%
  );
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.356);
  border: none;
  border-radius: 0px 10px 10px 0px;
  height: 2.4rem;
  width: 4rem;
  color: rgb(245, 232, 201);
  cursor: pointer;
}
.btnSearch:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 0 12px 1px #c0b09379;
}

.select {
  margin-top: 2rem;
  color: rgba(231, 227, 216, 0.747);
  text-shadow: 0 0 1px rgba(235, 185, 169, 0.479);
  width: 12rem;
  height: 2.2rem;
  background: linear-gradient(
    180deg,
    rgba(233, 139, 62, 0.83) 0%,
    rgba(255, 255, 255, 0.082) 100%
  );
  border: 2px solid rgba(119, 89, 25, 0.6);
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding-left: 15px;
  cursor: pointer;
}
.select option {
  background-color: #703711c7;
}
.btnCreate {
  margin-top: 5.5rem;
  color: #eed9b9;
  text-shadow: 0 0 0.2rem#805a2e;
  font-size: 15px;
  width: fit-content;
  padding: 0.8rem;
  background: linear-gradient(
    rgba(233, 153, 62, 0.486) 0%,
    rgba(150, 43, 10, 0.76) 100%
  );
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}
.btnCreate:hover {
  transform: scale(1.02, 1.02);
}
