.pagination {
  margin: 2rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(
    180deg,
    rgb(158, 133, 95) 0%,
    rgba(71, 35, 15, 0.71) 100%
  );
  color: rgb(245, 207, 158);
  font-size: 18px;
}
