.landing {
  background: url("../../img/landing.jpg");
  background-size: cover;
  height: 100vh;
  margin: auto;
}

.btnLanding {
  margin-top: 23rem;
  margin-left: -65rem;
  background: linear-gradient(
    180deg,
    rgba(210, 73, 54, 0.85) 0%,
    rgba(43, 9, 4, 0.85) 100%
  );
  border: 2px solid rgba(233, 195, 182, 0.55);
  box-shadow: 0px 0px 20px 15px rgba(139, 136, 89, 0.233);
  border-radius: 15px;
  font-family: "Book Antiqua", sans-serif;
  padding: 0 0.75rem;
  font-size: 1.75rem;
  line-height: 47px;
  color: rgba(245, 243, 232, 0.65);
  text-shadow: 2px 0px 4px rgba(86, 79, 69, 0.45);
}
.btnLanding:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 0px 20px 15px rgba(161, 120, 82, 0.473);
}
