.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background: rgba(112, 74, 39, 0.25);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
}
.landing {
  background: linear-gradient(
    180deg,
    rgba(241, 238, 234, 0.712) 0%,
    #b4a89b73 100%
  );
  border: 1.5px solid rgb(168, 163, 163);
  /* box-shadow: 0px 0px 10px 4px rgba(250, 238, 238, 0.48); */
  border-radius: 100rem;
  margin-left: 4rem;
}
.landing:hover {
  transform: scale(1.025, 1.025);
  filter: drop-shadow(0 0 12px white);
  /* box-shadow: 0px 0px 8px 12px rgba(255, 250, 250, 0.55); */
}
.home {
  margin-right: 4rem;  
  opacity: 0.55;
}
.home:hover {
  transform: scale(1.05, 1.05);
  filter: drop-shadow(0 0 12px whitesmoke);
  opacity: 0.7;
}
